.input {
  composes: input from "./FieldBase.module.css";
  display: flex;
  flex-direction: column;
}
.badges {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
.badge {
  display: block;
  border-radius: 1rem;
  padding: 0 0.5rem;
  background: #ddd;
  color: black;
  height: 1.3rem;
  line-height: 1.3rem;
  font-size: 0.8rem;
}
.placeholder {
  height: 1.3rem;
  visibility: hidden;
}
.minWidthFiller {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
}
